*.Cache
*.dbmdl
*.dotCover
*.exclude
*.FxCop
*.ilk
*.manifest
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.psess
*.rsp
*.sbr
*.sdf
*.shfbproj
*.shfbproj_*
*.sln.docstates
*.suo
*.testsettings
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vsmdi
*.vsp
*.vspscc
*_i.c
*_p.c
.builds
[Bb]in
[Dd]ebug/
[Oo]bj
[Rr]elease/
_UpgradeReport_Files/
~$*
Backup*/
ClientBin
Desktop.ini
MutDocs/Help/*.aspx
MutDocs/Help/*.config
MutDocs/Help/*.php
sql
stylecop.*
TestResults
Thumbs.db
UpgradeLog*.XML